---

- name: Ensure NVM installation temp path exists
  file:
    path: "{{ nvm_tmp_path }}"
    state: directory

- name: Download NVM installation script
  get_url:
    dest: "{{ nvm_tmp_path }}"
    url: https://raw.githubusercontent.com/creationix/nvm/{{ nvm_version }}/install.sh

- name: Set installation script permissions
  file:
    path: "{{ nvm_tmp_path }}/install.sh"
    mode: 0755

- name: Run NVM installation script
  command: "{{ nvm_tmp_path }}/install.sh"
  args:
    creates: "{{ nvm_dir }}"
    chdir: "{{ nvm_tmp_path }}"

- name: Delete NVM installation temp
  file:
    path: "{{ nvm_tmp_path }}"
    state: absent
